@import "tailwindcss";

@theme {
    --breakpoint-xs: 476px;
}

@layer base {
    a[href],
    button:not(:disabled):not([aria-disabled='true']),
    [role='button']:not(:disabled):not([aria-disabled='true']) {
        cursor: pointer;
    }
}
